* {
  font-family: "Outfit";
}
main {
  background-color: red;
  width: 90%;
  height: 1000px;
  margin: auto;
}

/* empieza el bloque de header + nav + los botones */
.bloque_header_inicio {
  /* background-color: coral; */
  height: 9%;
}
.bloque_header {
  /* background-color: darkorange; */
  /* background-color: black; */
  height: 90%;
  display: flex;
}
.bloque_header_logo {
  /* background-color: blueviolet; */
  background-color: #2b2a2b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.bloque_header_nav {
  /* background-color: brown; */
  background-color: #2b2a2b;
  width: 67%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bloque_header_nav_lista {
  width: 100%;
  /* background-color: grey; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 17px;
  list-style: none;
  margin-left: -90px;
}

/* empieza la parte de los botones del header */
.bloque_header_btn {
  /* background-color: cornflowerblue; */
  background-color: #2b2a2b;
  display: flex;
  width: 40%;
  padding: 3px;
}
.bloque_header_tlf {
  /* background-color: crimson; */
  background-color: #2b2a2b;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8%;
  height: 100%;
  width: 45%;
}
.bloque_header_tlf a {
  color: white;
  text-decoration: none;
}
.bloque_header_btn {
  padding: 0.8%;
}
.bloque_header_btn button {
  background-color: grey;
  width: 95%;
  border-radius: 5px;
  color: white;
}
.bloque_header_icon_cesta {
  /* background-color: aqua; */
  background-color: #2b2a2b;
  width: 30%;
  display: flex;
  justify-content: center;
  padding: 2.5%;
}

/* empieza el div de hero */
.hero {
  background-color: #FFFFFF;
  /* background-color: yellow; */
  margin-top: -1%;
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_contenedor {
  /* background-color: cyan; */
  display: flex;
  width: 90%;
  height: 85%;
  justify-content: center;
  align-items: center;
}
.hero_contenedor_texto {
  /* background-color: cornflowerblue; */
  /* background-color: white; */
  width: 50%;
  height: 60%;
}
.hero_contenedor_textos p:first-child {
  margin-bottom: -27px;
}
.hero_contenedor_texto p:first-child {
  font-size: 22px;
  color: #2a5b45;
}
.hero_contenedor_texto h2 {
  font-size: 45px;
}
.hero_contenedor_img {
  /* background-color: khaki; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.btn_contenedor_texto_img {
  background-color: #2b2a2b;
  border-radius: 6px;
  padding: 14px;
  color: white;
  margin-right: 8px;
}
.btn_contenedor_texto_cafe {
  background-color: #2a5b45;
  width: 20%;
  border-radius: 6px;
  padding: 14px;
  color: white;
}
.agricultores{
    margin-top: -20px;
}

/* empieza la tarjeta de cafe */
.card_cafe {
  background-color: aqua;
  background-image: url(/assets/img/unknown.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}
.card_cafe h2 {
  position: absolute;
  /* background-color: red; */
  color: white;
  margin-top: -370px;
  font-size: 30px;
}
.card_cafe_1 {
  background-color: white;
  border-radius: 20px;
  padding: 0.7%;
  width: 24%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.card_cafe_1 img {
  background-color: #2a5b45;
  padding: 4%;
  border-radius: 20px;
  margin-bottom: 5%;
}

/* aqui empiez la tarjeta de las bolsas */
.card_bolsas_contenedor {
  /* background-color: burlywood; */
  margin-top: -1.2%;
  width: 100%;
  height: 73%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card_bolsas_contenedor h2 {
  position: absolute;
  margin-top: -34.5%;
  color: #2a5b45;
}
.card_bolsas_cafe {
  /* background-color: darkmagenta; */
  width: 93%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6%;
}
.card_bolsas_cafe_1 {
  /* background-color: white; */
  border: 1px solid #2a5b45;
  height: 100%;
  width: 70%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card_bolsas_cafe_1:hover {
  background-color: #a0ffd494;
}
.card_bolsas_cafe_1 img {
  margin-bottom: 5%;
}
.card_bolsas_cafe_1 button {
  background-color: #2a5b45;
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
}
.card_bolsas_texto_flecha {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 37%;
}

/* bloque preguntas */
.bloque_preguntas {
  background-color: #2a5b45;
  color: #2b2a2b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 69%;
}
.bloque_preguntas h2{
    color: white;
}
.bloque_preguntas_texto {
  /* background-color: coral; */
  width: 54%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2%;
}
.primer_texto_preguntas h3 {
  border-bottom: 1px solid grey;
  padding-bottom: 2%;
}
.primer_texto_preguntas {
  background-color: white;
  width: 100%;
  height: 25%;
  padding: 20px;
  border-radius: 10px;
}
.segundo_texto_preguntas {
  background-color: white;
  width: 100%;
  height: 35%;
  padding: 20px;
  border-radius: 10px;
}
.segundo_texto_preguntas h3 {
    border-bottom: 1px solid grey;
    padding-bottom: 2%;
  }
.tercer_texto_preguntas {
  background-color: white;
  width: 102%;
  padding: 8px;
  padding-left: 2.2%;
  border-radius: 10px;
}
.texto_resolver{
    color: white;
}

/* bloque de la hubicacion de la cafeteria */
.bloque_ubicacion{
    background-color: white;
    margin-top: -1.2%;
    width: 100%;
    height: 63%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloque_ubicacion_texto{
    /* background-color: burlywood; */
width: 50%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
}
.bloque_ubicacion_texto h2{
    color: #2a5b45;
}
.bloque_ubicacion_texto div{
    /* background-color: red; */
    width: 82%;
    margin-left: 5%;
}
.bloque_ubicacion_img{
    /* background-color: chartreuse; */
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

/*bloque de contacto */
.bloque_contacto{
    background-color: #E3DED7;
    width: 100%;
    height: 70%;
    display: flex;
}
.bloque_contacto_texto {
    background-color: #E3DED7;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.bloque_imagenes_contacto {
    display: flex;
    gap: 3%;
}
.bloque_contacto_texto div{
    /* background-color: cadetblue; */
    background-color: #E3DED7;


}
.bloque_contacto_form{
    /* background-color: green; */
    background-color: white;
    width: 45%;
    height: 100%;
}
.bloque_contacto_form div{
    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
form #namee,#mail,#tlf{
    width: 100%;
}
form input{
 padding: 1.5%;
 border-radius: 8px;
 border: 1px solid grey;
}
.checkbox{
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    margin-right: 1%;
}
form button{
    padding: 3%;
    width: 20%;
    background-color: #2a5b45;
    border-radius: 8px;
}
/* empieza el footer */
footer{
    background-color: #1F1815;
    color: white;
    width: 100%;
    height: 35%;
    display: flex;
}
.primer_bloque_footer{
    /* background-color: cornflowerblue; */
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.primer_bloque_footer button{
    background-color: #515051;
    color: white;
    border-radius: 8px;
}
.btn_1_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    padding: 1px;
    width: 50%;
}
.btn_2_footer{
    padding: 2%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}
.segundo_bloque_footer{
    /* background-color: chartreuse; */
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center
}
.bloque_footer_nav {
    /* background-color: red; */
    display: flex;
    height: 60%;
    margin-top: 10%;
}
.bloque_footer_nav_lista {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    list-style: none;
}
.tercer_bloque_footer{
    /* background-color: fuchsia; */
    width: 40%;
}
.bloque_terminos {
/* background-color: brown; */
height: 15%;
margin-left: 5%;
position: absolute;
display: flex;
justify-content: space-evenly;
margin-top: 6%;
}
.bloque_terminos_lista {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.ultimo_footer{
    background-color: #2B2A2B;
    color: white;
    margin: auto;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}
.ultimo_footer p{
    margin-left: 48%;
}


















